body {
    background-color: black;
}

.line1d{
    position: absolute;
    z-index: 1;
    font-family: "iA Writer QuattroS Regular";
    font-size: 60px;
    font-weight: 500;
    color:#F2F2F2;
    top: 30px;
    left: 50px;
    height: 120px;
    width: 1300px;
}

.line1d:hover{
    color: red;
}


.line2d{
    position: absolute;
    z-index: 1;
    font-family: "iA Writer QuattroS Regular";
    font-size: 60px;
    font-weight: 500;
    color: #F2F2F2;
    top: 150px;
    left: calc(100% - 650px);
    height: 150px;
    width: 600px;
}

.line2d:hover{
    color: red;
}

.line3d{
    position: absolute;
    z-index: 1;
    font-family: "iA Writer QuattroS Regular";
    font-size: 60px;
    font-weight: 500;
    color: #F2F2F2;
    top: 330px;
    left: 50px;
    height: 220px;
    width: 1100px;
 
}

.line3d:hover{
    color: red;
}

.line4d{
    position: absolute;
    font-family: "iA Writer QuattroS Italic";
    font-size: 80px;
    font-weight: 600;
    color: #600000;
    letter-spacing: 10px;
    top: 510px;
    left: calc(100% - 1250px);
    width: 1200px;
    z-index: 10;
}

.line4d:hover{
    color: red;
}

