body{
    background-color: #111111;
}

.line1b{
    position: absolute;
    font-family: "iA Writer QuattroS Regular";
    font-size: 40px;
    font-weight: 500;
    color:#F2F2F2;
    top: 30px;
    left: 50px;
    height: 120px;
    width: 1400px;
    /*border-style: solid;
    border-color: white;
    border-width: 2px;*/
}

.line2b{
    position: absolute;
    font-family: "iA Writer QuattroS Regular";
    font-size: 40px;
    font-weight: 500;
    color: #F2F2F2;
    top: 210px;
    left: 400px;
    height: 150px;
    width: 800px;
    /*border-style: solid;
    border-color: white;
    border-width: 2px;*/
}

.line3b{
    position: absolute;
    font-family: "iA Writer QuattroS Regular";
    font-size: 60px;
    font-weight: 500;
    color: #F2F2F2;
    top: 420px;
    left: 400px;
    height: 220px;
    width: 1050px;
    /*border-style: solid;
    border-color: white;
    border-width: 2px;*/
}

.line4b{
    position: absolute;
    font-family: "iA Writer QuattroS Regular";
    font-size: 18px;
    font-weight: 500;
    color: #600000;
    top: calc(100% - 60px);
    left: calc(100% - 650px);
    height: 30px;
    width: 600px;
    /*border-style: solid;
    border-color: white;
    border-width: 2px;*/
}

.line4b:hover{
    color: white;
}